body {
    background-color: black;
    margin: 0;
}
/* .container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
} */
 .container {
    background-color: aliceblue;
    color: black;
    border: 1px solid red;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }
